@page "/"
@inject IJSRuntime JS

<div>
    <h1>Tic Tac Toe</h1>
    <div class="board">
        @for(int i = 0; i < board.Length; i++)
        {
            int idx = i;
            <div class="square"
                 @onclick="() => SquareClicked(idx)">
                 <h5 class="char">@board[i]</h5>
            </div>
        }
    </div>
</div>